<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jp.ohnaka.alfred-backlog-issue-search</string>
	<key>connections</key>
	<dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>371721AB-7368-4375-A42C-CC93839C6620</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kunihiko Ohnaka</string>
	<key>description</key>
	<string>Backlog 課題検索</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Backlog 課題検索</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>371721AB-7368-4375-A42C-CC93839C6620</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Retrieving search suggestions ...</string>
				<key>script</key>
				<string>require_once('workflows.php');

class Result { 
	public $projectCode;
	public $url;
	public $title;
	public $subTitle;
	public $updated;
	function __construct($projectCode_, $url_, $title_, $subTitle_, $updated_) {
		$this-&gt;projectCode = $projectCode_;
		$this-&gt;url = $url_;
		$this-&gt;title = $title_;
		$this-&gt;subTitle = $subTitle_;
		$this-&gt;updated = $updated_;
	}
}

class Project {
	public $apikey;
	public $projectId;
	public $workspaceUrl;
	public $projectCode;

	function __construct($apiKey_, $projectId_, $workspaceUrl_, $projectCode_) {
		$this-&gt;apiKey = $apiKey_;
		$this-&gt;projectId = $projectId_;
		$this-&gt;workspaceUrl = $workspaceUrl_;
		$this-&gt;projectCode = $projectCode_;
	}

	function setIssueToResult($issue, $result) {
		$issueKey = $issue["issueKey"]; // HOGE-123 など
		if ( $issueKey == null ) {
			return false;
		}
		$updated = $issue["updated"];
		$link = $this-&gt;workspaceUrl."/view/".$issueKey;
		$summary = $issue["summary"]; // タイトル
		$owner = $issue["createdUser"]["name"]; // 登録者名
		$assignee = $issue["assignee"]["name"]; // 担当者名
		// 
		$result-&gt;url = $link;
		$result-&gt;title = $summary;
		$result-&gt;subTitle = $issueKey." ".$owner." → ".$assignee;
		$result-&gt;updated = $updated;
		return true;
	 }

	public function search(string $query, bool $isFirst) {
		// 検索語が指定されていない時、もしくは検索語が数字以外の1文字だった場合
		// この場合、Backlog課題検索APIは1文字の検索ができないので「プロジェクトホームを開く」を返す
		// (数字一文字の場合は課題番号として有効なので次へ)
		if ( strlen($query) == 0 || (!is_numeric($query) &amp;&amp; strlen($query) == 1) ) {
			$result = new Result($this-&gt;projectCode, $this-&gt;workspaceUrl."/projects/".$this-&gt;projectCode, "プロジェクトホームを開く", $this-&gt;projectCode, "Z");
			return array($result);
		}

		$wf = new Workflows();
		$results = array();

		// 1〜4桁の数字だった場合は課題番号とみなして結果の一番上に入れる(ソートキーを'Z'に設定)
		if ( is_numeric($query) &amp;&amp; strlen($query) &lt; 4 ) {
			$issueKey = $this-&gt;projectCode."-".$query;
			if ( $isFirst ) {
				$results[] = new Result($this-&gt;projectCode, $this-&gt;workspaceUrl."/view/".$issueKey, $issueKey."を開く", "", "Z");
				return $results;
			}
			$json = $wf-&gt;request( $this-&gt;workspaceUrl."/api/v2/issues/".$issueKey."?apiKey=".$this-&gt;apiKey );
			$issue = json_decode ( $json, true);
			$result = new Result($this-&gt;projectCode, "", "", "", "");
			if ( $this-&gt;setIssueToResult($issue, $result) ) {
				$result-&gt;updated = "Z";
			} else {
				$result = new Result($this-&gt;projectCode, $this-&gt;workspaceUrl."/view/".$issueKey, $issueKey."を開く", "", "Z");
			}
			$results[] = $result;
		}

		$json = $wf-&gt;request( $this-&gt;workspaceUrl."/api/v2/issues?apiKey=".$this-&gt;apiKey."&amp;projectId[]=".$this-&gt;projectId."&amp;count=10&amp;sort=updated&amp;order=desc&amp;keyword=".urlencode($query) );

		$array = json_decode( $json , true );

		for($i=0; $i &lt; 9; $i++) {
			$issue = $array[$i];
			$result = new Result($this-&gt;projectCode, "", "", "", "");
			if ( $this-&gt;setIssueToResult($issue, $result) ) {
				$results[] = $result;
			}
		}
		return $results;
	}
}

$wf = new Workflows();

// 初回かどうかを検出
$isFirst = getenv('isRerun') == null;
if ( $isFirst ) {
	$wf-&gt;variables['isRerun'] = true;
	$wf-&gt;rerun = 0.5; // 0.5秒後に再呼び出しさせる
}

// Backlogプロジェクト設定ファイルを読み込み
$configFile = "config.json";
$configJson = file_get_contents($configFile);
$configProjects = json_decode( $configJson, true);
$projects = array();
foreach ( $configProjects as $p ) {
	$project = new Project($p["apiKey"], $p["projectId"], $p["projectUrl"], $p["projectCode"]);
	array_push($projects, $project);
}

// Macで入力した「が」などが「か」と濁点に分かれてしまいBacklogの検索に失敗するため、
// nkfを使って入力文字を Unicode の NFDから NFCに変換する。
$orig = trim(shell_exec('echo "{query}" | /usr/local/bin/nkf -wLu --ic=UTF8-MAC'));

// 各プロジェクトに対して検索実行
$results = array();
foreach ( $projects as $project ) {
	$searchResults = $project-&gt;search($orig, $isFirst);
	$results = array_merge($results, $searchResults);
}

if ( count($results) == 0 ) {
	$wf-&gt;result(
		0,
		"",
     	"結果が見つかりません",
		'',
		$icon
 	);

} else {
	$sort_keys = array();
	foreach ( $results as $key =&gt; $value) {
        $sort_keys[$key] = $value-&gt;updated;
	}
	array_multisort($sort_keys, SORT_DESC, $results);

	$i=0;
	foreach ( $results as $result) {
		$wf-&gt;result(
			null, // Alfredが認識するユニークID。nullにしておくとこちらが決めた順番のまま表示される。
			$result-&gt;url, // arg (次のフローに渡る値)
			$result-&gt;title,
			$result-&gt;subTitle,
			"thumbs/".$result-&gt;projectCode.".png"
		);
	}
}

//error_log($wf-&gt;tojson());
echo $wf-&gt;tojson();
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Backlog Issue with Suggestions</string>
				<key>title</key>
				<string>Search Backlog Issue</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>371721AB-7368-4375-A42C-CC93839C6620</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/kunichiko/Alfred_Backlog_search_workflow</string>
</dict>
</plist>
